/* QuizScreen.css */

.custom-radio {
    display: flex;
    gap: 2;
    margin-bottom: 10px;
}

.custom-radio input {
    opacity: 0;
    cursor: pointer;
}

.custom-radio label {
    position: relative;
    padding-left: 30px;
    /* Space for the outline */
    cursor: pointer;
}

.custom-radio label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    /* Adjust the width of the outline */
    height: 20px;
    margin-top: 6.5px;
    /* Adjust the height of the outline */
    border: 1.4px solid #2196F3;
    /* Outline color */
    border-radius: 25%;
    box-sizing: border-box;
}

.custom-radio input:checked+label:before {
    background-color: #2195f3;
    /* Fill color when checked */
    border: 1.5px solid #0990ff;
}

.glassEffect {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
}